<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header', {title}) %>
	<body>
		<%- include('partials/nav') %>
		<h1><%= title %></h1>
		<main>
			<div class="detailCard">
				<h2><%= category.name %></h2>
				<p>Description: <%= category.description %></p>
			</div>

			<% if(category.name === 'Equipment' || category.name === 'Magic relics' || category.name === 'Potions') { %>
			<h2>Core categories</h2>
			<p style="color: red">
				Only custom categories can be deleted. "Equipment", "Magic relics" and "Potions"
				cannot be deleted.
			</p>
			<% } else if(dependencies.length > 0) { %>
				<h2>Dependencies</h2>
				<p style="color: red">
					The following items depend on this category, can't delete category while items
					depend on it
				</p>
				<% dependencies.forEach(dependency => {%>
				<div>
					<a href="<%= dependency.url %>">
						<h3><%= dependency.name %></h3>
					</a>
				</div>
			<% }); } else { %>
			<h3>Are you sure you want to delete this category?</h3>
			<form action="/categories/delete/<%= category._id %>" method="POST">
				<input type="hidden" name="_method" value="DELETE" />
				<button type="submit">CONFIRM</button>
			</form>
			<% } %>
		</main>
	</body>
</html>
