<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header', {title}) %>
	<body>
		<%- include('partials/nav') %>
		<h1><%= title %></h1>
		<main>
			<form action="" method="POST">
				<input type="hidden" name="_method" value="PUT" />

				<label for="name">Category name: </label>
				<input
					type="text"
					name="name"
					minlength="3"
					value="<%= category.name %>"
					required
				/>

				<label for="description">Category description: </label>
				<textarea name="description" minlength="10" required>
<%= category.description %></textarea
				>

				<button type="submit">Submit</button>

				<% if(errors) {%>
				<ul>
					<% errors.forEach(error => { %>
					<li><%= error %></li>
					<% }); %>
				</ul>
				<% } %>
			</form>
		</main>
	</body>
</html>
