<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header', {title}) %>
	<body>
		<%- include('partials/nav') %>
		<h1><%= title %></h1>
		<main>
			<a href="/categories/add">Add category</a>
			<hr />
			<% categories.forEach(category => { %>
			<div class="categoryCard">
				<h2><%= category.name %></h2>
				<p>Description: <%= category.description %></p>
			</div>
			<% }) %>
		</main>
	</body>
</html>
