<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header', {title}) %>
	<body>
		<%- include('partials/nav') %>
		<h1><%= title %></h1>
		<main>
			<a href="/magic-relics/add">Add magic relic</a>
			<hr />
			<% items.forEach(item => { %>
			<div class="itemCard">
				<h2><%= item.name %></h2>
				<p>Description: <%= item.description %></p>
				<p>Category: <%= item.category %></p>
				<p>Stock: <%= item.stock %></p>
				<p>Price: <%= item.formattedPrice %></p>
			</div>
			<% }) %>
		</main>
	</body>
</html>
